.header {
    background-color: #ffffff;
    padding: 18px 30px;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto auto;
    gap: 16px;
    box-shadow: 0px 10px 0px #0000001b;
    border-bottom: 2px solid black;
}

.title {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #0074ff;
    font-size: 18px;
    margin: 0;
}

.title::selection {
    background-color: yellow;
}

.nav-btn {
    background-color: transparent;
    padding: 10px 20px;
    height: 46px;
    display: grid;
    place-items: center;

    p {
        font-family: "Fira Code", monospace;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #0074ff;
        font-size: 16px;
        margin: 0;
    }
}

.nav-btn:hover {
    background-color: #0074ff20;
}