<section class="header">
    <div style="height: 100%; display: grid; place-items: center;">
        <p class="title">norton acuity</p>
    </div>
    <div></div>
    <div>
        <button class="nav-btn">
            <p>Work</p>
        </button>
    </div>
    <div>
        <button class="nav-btn">
            <p>Blog</p>
        </button>
    </div>
    <div>
        <button class="nav-btn">
            <p>Misc</p>
        </button>
    </div>
    <div>
        <button class="nav-btn">
            <p>Contact</p>
        </button>
    </div>
    <div style="display: grid; place-items: center;">
        <img style="height: 40px;" src="../../assets/globe-blue.png" alt="">
    </div>
</section>