<ion-content [fullscreen]="true">
  <section style="background-color: #f4f4f4; height: 100vh; width: 100%;">
    <div id="illustration-container">
      <img src="../../assets/acuity-illustration/layer-1.png" alt="">
      <img src="../../assets/acuity-illustration/layer-2.png" alt="">
      <img src="../../assets/acuity-illustration/layer-3.png" alt="">
      <img src="../../assets/acuity-illustration/layer-4.png" alt="">
      <img src="../../assets/acuity-illustration/layer-5.png" alt="">
      <img src="../../assets/acuity-illustration/layer-6.png" alt="">
    </div>

    <div id="bottom-text">
      <div>
        <p>2026©</p>
      </div>
      <div>
        <p>Adam Norton</p>
      </div>
    </div>

    <div id="left-text">
      <div>
        <p>PASSION PROJECTS</p>
      </div>
      <div></div>
    </div>

    <div id="right-text">
      <div></div>
      <div>
        <p>HARD WORK</p>
      </div>
    </div>
  </section>

  <section style="height: 500px;">
    <p>Sample Content</p>
  </section>

  <section style="height: 500px;">
    <p>Sample Content</p>
  </section>

  <app-footer></app-footer>
</ion-content>